<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
  <mat-form-field appearance="outline">
    <mat-label>Tag search</mat-label>
    <input
      #filterInput
      matInput
      (keyup)="filter(filterInput.value)"
      maxLength="50"
    >
    <mat-hint align="end">{{filterInput.value.length}} / 50</mat-hint>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-divider fxFlexFill></mat-divider>
  
  <div fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center" fxFlexFill>
    <ng-container *ngFor="let application of applications$ | async; let i = index">
      <app-application
        [application]="application"
        [proposal]="findProposal(application.id)"
      >
      </app-application>
    </ng-container>
  </div>

  <div *ngIf="(applications$ | async)?.length === 0"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
  >
    <p>
      Nothing found for:
    </p>
    <mat-chip-list>
      <mat-chip>{{filterInput.value}}</mat-chip>
    </mat-chip-list>
  </div>
</div>
