<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
  <mat-form-field appearance="outline">
    <mat-label>Tag search</mat-label>
    <input
      #filterInput
      matInput
      (keyup.enter)="filter(filterInput.value)"
      maxLength="50"
    >
    <mat-hint align="end">{{filterInput.value.length}} / 50</mat-hint>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-divider fxFlexFill></mat-divider>
  
  <div fxLayout="column" fxLayoutGap="5px">
    <ng-container *ngFor="let application of applications$ | async; let i = index">
      <div fxLayout="row">
        <mat-card fxFlex.gt-xs="600px">
          <div fxLayout="column" fxLayoutGap="30px">
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
              <div fxFlex="noshrink" fxFlexAlign="center">
                <app-application
                  id="{{application.id}}"
                  (changePlayer)="changePlayerState(application.id, $event)"
                  [application]="application"
                ></app-application>
              </div>
              <mat-divider fxLayoutAlign="stretch" [inset]="true" [vertical]="true"></mat-divider>
              <div fxFlex="noshrink" fxFlexAlign="center">
                <div
                  fxLayout="row"
                  fxLayoutGap="5px"
                  matTooltip="{{numberOfProposals(application.countProposals)}} people created proposal for this application"
                >
                  <div fxFlex="grow" class="mat-body-2">
                    {{numberOfProposals(application.countProposals)}}
                  </div>
                  <mat-icon>face</mat-icon>
                </div>
              </div>
              <mat-divider fxLayoutAlign="stretch" [inset]="true" [vertical]="true"></mat-divider>
              <div fxFlex="grow" fxFlexAlign="center">
                <button
                  mat-raised-button
                  color="primary"
                  *ngIf="!isAlreadyApplied(application.id)"
                >
                  Submit Proposal
                </button>
                <button mat-icon-button>
                  <mat-icon
                    *ngIf="isAlreadyApplied(application.id)"
                  >arrow_drop_down_circle</mat-icon>
                </button>
              </div>
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <app-record-voice></app-record-voice>
          </div>
        </mat-card>
      </div>
    </ng-container>
  </div>

  <div *ngIf="(applications$ | async)?.length === 0"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
  >
    <p>
      Nothing found for:
    </p>
    <mat-chip-list>
      <mat-chip>{{searchValue}}</mat-chip>
    </mat-chip-list>
  </div>
</div>

