<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
  <div fxFlex="{{playerState != PlayerState.Playing? 'none' : 'grow'}}">
    <app-player (changeState)="changePlayerState($event)"></app-player>
  </div>
  <mat-chip-list fxFlex="auto" *ngIf="playerState != PlayerState.Playing">
    <mat-chip color="primary">{{ application.language }}</mat-chip>
    <mat-chip
      *ngFor="let tag of application.tags"
      color="primary"
    >
      {{ tag }}
    </mat-chip>
  </mat-chip-list>
</div>
