<div fxLayout="column" fxLayoutGap="15px">
  <div class="mat-subheading-1 title-margin" fxFlexAlign="center">
    You've not created an application yet or have done it more than 2 hours ago.
  </div>
  <mat-vertical-stepper linear (selectionChange)="selectionChange($event)">
    <mat-step label="Record Application" [completed]="application.audio">
      <div fxLayout="column" fxLayoutGap="10px">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                What should be in your application
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="mat-body-1">
                In your application try to emphasize your goals and what kind of person you are looking for.
            </div>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Example 1
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="mat-body-1">
                  Hi! My name is Lin Lin. I'm from China. On the next week, I'm going to visit Paris,
                  so I'm looking for someone from this town or who were there to talk about must visit places.
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Example 2
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="mat-body-1">
                  Hi there! My name is Mark. I want to talk to someone who loves football as I am.
                  If you watch La Liga and root for FC Barcelona, let's root for together!
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-expansion-panel>
        </mat-accordion>
        <app-record-voice (recordedVoice)="recordedVoice($event)"></app-record-voice>
      </div>
      <div class="stepper-buttons" *ngIf="application.audio">
        <button mat-raised-button color="primary" matStepperNext>
          Next
        </button>
      </div>
    </mat-step>
    <mat-step label="Choose the Language" [completed]="application.language">
      <app-input-language (changeLanguage)="changeLanguage($event)"></app-input-language>
      <div class="stepper-buttons" fxLayoutGap="10px">
        <button mat-raised-button color="warn" matStepperPrevious>Back</button>
        <button
          mat-raised-button
          color="primary"
          matStepperNext
          [disabled]="!application.language"
        >
          Next
        </button>
      </div>
    </mat-step>
    <mat-step label="Choose Tags">
      <div fxLayout="row">
        <div fxFlex="nogrow">
          <div class="step-wrapper">
            <app-input-tags (tagsChanged)="tagsChanged($event)"></app-input-tags>
          </div>
        </div>
      </div>
      <div class="stepper-buttons" fxLayoutGap="10px">
        <button mat-raised-button color="warn" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Publish">
      <div fxLayout="row">
        <div fxFlex="nogrow">
          <div class="step-wrapper">
            <app-application [application]="application"></app-application>
          </div>
        </div>
      </div>
      <div class="stepper-buttons" fxLayoutGap="10px">
        <button mat-raised-button color="warn" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" (click)="publish()">Publish</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>