<mat-toolbar class="header" fxLayout="row" fxLayoutAlign="center center">Loyts</mat-toolbar>
<nav mat-tab-nav-bar mat-stretch-tabs>
  <a
    mat-tab-link
    *ngFor="let component of components"
    (click)="activeComponent = component.title"
    [routerLink]="component.routerLink"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    {{ component.title }}
  </a>
</nav>
  
<div fxLayout="column">
  <div fxFlexOffset="20px">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex.gt-xs="500px">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
