<mat-toolbar class="header" fxLayout="row" fxLayoutAlign="space-between center">
  <span>Loyts</span>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
  >
    <mat-icon [color]="authService.isLoggedIn()? 'primary' : null">account_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <a routerLink="/login" mat-menu-item>Login</a>
    <a routerLink="/register" mat-menu-item >Sign Up</a>
  </ng-template>
</mat-menu>
<nav mat-tab-nav-bar mat-stretch-tabs>
  <a
    mat-tab-link
    *ngFor="let component of components"
    (click)="activeComponent = component.title"
    [routerLink]="component.routerLink"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive"
  >
    {{ component.title }}
  </a>
</nav>
  
<div fxLayout="column">
  <div fxFlexOffset="20px">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex.gt-xs="600px">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
