<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
  <ng-container [ngSwitch]="state">
    <button
      *ngSwitchCase="State.NotStarted"
      mat-icon-button
      (click)="play()"
    >
      <div class="icon">
        <mat-icon [inline]="true" [color]="color">play_circle_outline</mat-icon>
      </div>
    </button>
    <button
      *ngSwitchCase="State.Playing"
      mat-icon-button
      disableRipple
      (click)="stop()"
    >
      <div class="icon">
        <mat-icon inline [color]="color">stop</mat-icon>
      </div>
    </button>
  </ng-container>

  <div fxFlex="grow" *ngIf="showTimeline || state === State.Playing">
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
      <mat-progress-bar color="accent" mode="determinate" [value]="time/30*100"></mat-progress-bar>
      <div fxLayout="row" fxLayoutAlign="center center">
        {{time}}s / {{duration}}s
      </div>
    </div>
  </div>

</div>
