<div fxLayout="column" fxLayoutAlign="center" class="form-margin">
  <div class="mat-title" fxFlexAlign="center">Login</div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column">
      <mat-form-field
        fxFlexFill
        fxFlexAlign="center"
      >
        <mat-error>{{emailErrorMessage}}</mat-error>
        <input
          matInput
          type="email"
          placeholder="Email"
          formControlName="emailFormControl"
        >
      </mat-form-field>
      <mat-form-field
        fxFlexFill
        fxFlexAlign="center"
        hintLabel="Minimum 6 symbols"
      >
        <mat-error>{{passwordErrorMessage}}</mat-error>
        <input
          matInput
          maxLength="50"
          type="password"
          placeholder="Password"
          formControlName="passwordFormControl"
        >
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        fxFlexOffset="20px"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </div>
  </form>
</div>
