<div fxLayout="column" fxLayoutGap="20px">
  <div
    *ngIf="!proposalMessage"
    fxFlexAlign="center"
    class="mat-title"
  >
    Record Your Proposal
  </div>
  <div
    *ngIf="proposalMessage"
    fxFlexAlign="center"
    class="mat-title"
  >
    Your Proposal
  </div>
  <app-record-voice (recordedVoice)="setRecordedProposal($event)"></app-record-voice>
  <div fxLayout="row" fxLayoutGap="10px" *ngIf="proposalMessage">
    <button
      fxFlex="50%"
      mat-raised-button
      color="warn"
      (click)="discardProposal()"
    >
      Discard
    </button>
    <button
      fxFlex="50%"
      mat-raised-button
      color="primary"
      (click)="submitProposal()"
    >
      Submit
    </button>
  </div>
</div>
