@import '~@angular/material/theming';
@include mat-core();

$loyts-primary: mat-palette($mat-green, 600, 200, 900);
$loyts-accent:  mat-palette($mat-blue, 500, 100, 700);
$loyts-warn:    mat-palette($mat-red);
$loyts-theme:   mat-dark-theme($loyts-primary, $loyts-accent, $loyts-warn);

@include angular-material-theme($loyts-theme);
