<ng-container [ngSwitch]="state">
  <button
    *ngSwitchCase="State.NotStarted"
    mat-raised-button
    (click)="startRecording()"
  >
    <mat-icon>mic</mat-icon>
    Click To Record the Application
  </button>

  <ng-container *ngSwitchCase="State.Started">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <div class="icon">
          <mat-icon inline>record_voice_over</mat-icon>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-progress-bar mode="determinate" [value]="time/30*100"></mat-progress-bar>
          <div fxLayout="row" fxLayoutAlign="center center">
            {{time}}s / {{maxDuration}}s
          </div>
        </div>
      </div>
      
      <button mat-raised-button color="primary" (click)="finishRecording()">Stop Recording</button>
    </div>
  </ng-container>
  
  <ng-container *ngSwitchCase="State.Finished">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <button mat-icon-button (click)="playApplication()">
        <span class="icon">
          <mat-icon inline>play_circle_outline</mat-icon>
        </span>
      </button>
      <button mat-raised-button (click)="startRecording()">
        Rerecord Application
      </button>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="State.Playing">
    <button mat-icon-button disableRipple (click)="stopPlayingApplication()">
      <div class="icon">
        <mat-icon inline>stop</mat-icon>
      </div>
    </button>
  </ng-container>

</ng-container>
